.swipe-sidebar {
    height: 100vh;
    display: flex;
    flex-flow: column;
    &__wrap {
        margin: 70px auto 0;
        max-width: 400px;
        width: 100%;
        display: flex;
        flex-flow: column;
    }
}