html {    
    font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
#__nuxt, #__layout {
    // height: 100vh;
    height: 100%;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {    
    color: $primary;
}

h1,.h1 {
    font-size: 60px;
    line-height: 1.1em;
    letter-spacing: 0.02em;
}

h2,.h2 {
    font-size: 36px;
    line-height: 1.22em;
}

h3 {
    font-size: 32px;
    line-height: 1.1em;
    letter-spacing: 0.02em;
}

p {
    color: inherit;
    line-height: 1.2em;
}

.gradient {
    &--green-to-blue {
        background: linear-gradient(63.53deg, #2D8550 16.62%, #5E6EC2 83.38%)
    }    
}

button,.button,.btn {
    background: white;
    border-radius: 100px;
    font-size: 28px;
    line-height: 1em;
    padding: 25px 50px;
    text-align: center;
    border: 0px;

    // gradients
    &--purple {
        background: linear-gradient(266.19deg, #8049C7 0%, #CA57FD 100%);
    }
    &--yellow {
        background: linear-gradient(90deg, #FFD748 0.02%, rgba(195, 199, 11, 0.96) 99.97%, #CAC6AB 99.98%, #D3E9E1 99.99%);
    }
    &--blue {
        background: linear-gradient(266.19deg, #169AE4 0%, #0CC4FA 100%);
    }
    &--grey {
        background: linear-gradient(90deg, #D9D9D9 0%, #A1A1A1 100%);
    }
    // size
    &--sm {
        min-width: 270px;
        padding: 15px;
        font-size: 24px;
        height: 60px;
    }
    transition: .3s all;
    &:hover {
        opacity: .7;
    }
}
// helper 
.h-100vh {
    height: 100vh;
}
// media
@media (min-width: 1200px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1210px;
    }    
}
@media (max-width: 1200px){    
    h2,.h2 {
        font-size: 30px;
        line-height: 1.22em;
    }
    h3 {
        font-size: 26px;
        line-height: 1.1em;
        letter-spacing: 0.02em;
    }
}