.vue-tinder-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.vue-tinder {
    position: absolute !important;
    z-index: 1;
    left: 0;
    right: 0;
    top: 23px;
    bottom: 46px;
    margin: auto;
    min-width: 300px;
    max-width: 590px;
    max-height: 590px;
  }
  
.super-pointer,
.nope-pointer,
.like-pointer {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) ;
  // width: 64px;
  // height: 64px;
}

.tinder-card {
  transition: .3s all;
}
.tinder-card[data-index='1'], .tinder-card[data-index='2'], .tinder-card[data-index='3']{
  transform: unset !important;
}


.pic {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.swiper-buttons {
  position: absolute;
  bottom: 64px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}